THEORY QUESTIONS

In [ ]:
#1.What are data structures, and why are they important?

#ANS : data structure are specialized formats for organizing, storing and accessing collections of data.
#they provide eddicient way to manage information based on its characteristic and intended use.

In [ ]:
#2. What are data structures, and why are they important?

ans: MUtable data types can be changed or modified after creation one can add, remove or modify/update data.
eg. my_list = [1,2,3]
    print(my_list)
    my_list[0]=10
    print(my_list)
output - [10,2,3]

Immutable data types cannot be change after creation,any modification creates a new object instead of changing the existing one.
eg.  my_string = "hello"
    print(my_string) #output = hello
    my_string = "world"
    print(my_string)  #output = world

In [ ]:
#3. What are the main differences between lists and tuples in Python?

ans. list and tuples both are used to store collection of items whereas, list are mutable, you can change
the data and is run using "()" while typle are immutabke. you cannot change the data and is run using "[]".

4. Describe how dictionaries store data

ans. dictionaries store data as ket-value pair. keys are unique and immutable denoted by "{}".

5. Why might you use a set instead of a list in Python?

ans. we will use set instead of a list for followinh:
1. to ensure uniqueness- sets automatically remove duplicate elements
2. sets supports operations like union,intersection, and difference. which are not directly available in list.
3. we dont have to care about the order f elements.

6. What is a string in Python, and how is it different from a list?

ans. string is a characters enclosed in a single quote (''), double quote (""), and triple quote(''' '''). string are
used to represent text-based data.
difference from a list are- 1. sequence of character(text) 
2. immutable
3. enclosed in quote

7. How do tuples ensure data integrity in Python?

ans. tuples ensure data integrity in python primarly because they're immutable. their contents
cannot be modified after creation. this protects constant values from being altered.

8. How do tuples ensure data integrity in Python?

ans. A hash table is a way of storing data in key-value pairs. it uses a hash function to lquiuckly find 
where to store or retrieve the value associated with a key. dictionaries use hash table to store data efficiently.

9. Can lists contain different data types in Python?

ans. yes, list can contain different data types in python. a list can hold various types
as string, integer, boolean , floats etc.

10. Can lists contain different data types in Python?

ans. strings are immutable to ensure efficiency, security and reliability in hash based
operations and simplicity in string handling.

11. What advantages do dictionaries offer over lists for certain tasks?

ans. advantages of dictionaries over lists are better for tasks that require fast lookups, 
key-value associations and ensuring data integrity with unique keys.

12.  Describe a scenario where using a tuple would be preferable over a list

ans. A tuple would be preferrable over a list in situation where you need immutable data, that should
not be changed during the programs execution. eg. important document figures or data.

13.  How do sets handle duplicate values in Python?

ans. sets is a collection that automatically handles duplicate values by removing them, set can only contain unique elements if a
duplicate element is added set will ignore it and give the output.

14.  How does the “in” keyword work differently for lists and dictionaries?

ans. 'in' for list checks for the presence of an element by scanning through the entire list start to end.
'in' for dictionaries checks only the keys by default (not the values)

15. Can you modify the elements of a tuple? Explain why or why not?

ans. no, we cannot modify the element of a tuple because tuples are immutable once its created the
elements cant be changed.

16. What is a nested dictionary, and give an example of its use case

ans. A nested dictionary is a dictionary that contains one or more dictionaries as value.
use case example: managing school records. or employee details.

17.  Describe the time complexity of accessing elements in a dictionary

ans. dictionaries are implemented using a hash table (fast and constant time), in rare situations
with excessive hash collisons.

18. In what situations are lists preferred over dictionaries?

ans. listsa are preferred when: 1. you need to maintain order of elements
2. data is simple and doesn't require keys
3. you need to access element by index

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

ans. hash table implementation: keys are stored based on their hash values, not in sequntial order

20. Explain the difference between a list and a dictionary in terms of data retrieval.

ans. list: access data by index, sequntial searches take same time
dictionaries: access data by key, lookups are constant on avg.

PRACTICAL QUESTIONS

In [34]:
#!. Write a code to create a string with your name and print it

name = "omkar"
print(name)

omkar

In [44]:
#2.  Write a code to find the length of the string "Hello World"

my_string = "Hello World"
length = len(my_string) 
print("length of the string is:", length)

length of the string is: 11

In [46]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

my_string = "python programming"
sliced_string = my_string[:3]
print("first characters are:", sliced_string)

first characters are: pyt

In [48]:
#4. Write a code to convert the string "hello" to uppercase

my_string = "hello"
my_string.upper()

'HELLO'

In [50]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

my_string = "i like apple"
my_string.replace("apple", "orange")

'i like orange'

In [52]:
#6. Write a code to create a list with numbers 1 to 5 and print it

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [58]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1,2,3,4]
my_list.append(10)
print("updated list:", my_list)

updated list: [1, 2, 3, 4, 10]

In [62]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1,2,3,4,5]
my_list.remove(3) 
print("updated list:", my_list)

updated list: [1, 2, 4, 5]

In [64]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
new_list = my_list[1]
print("updated list is:", new_list)

updated list is: b

In [68]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10, 20 ,30 ,40 ,50]
my_list.reverse() 
print("new reversed list:",my_list)

new reversed list: [50, 40, 30, 20, 10]

In [70]:
#11.  Write a code to create a tuple with the elements 10, 20, 30 and print it

my_tuple = {10,20,30}
print(my_tuple)

{10, 20, 30}

In [90]:
#12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [116]:
#13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

numbers = (1, 2, 3, 2, 4, 2)
count_of_twos = numbers.count(2)
print("The number 2 appears:", count_of_twos)

The number 2 appears: 3

In [138]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat') 
print(index_of_cat)

1

In [142]:
#15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

my_tuple = ('apple', 'orange', 'banana')
b_tuple = 'banana' in my_tuple
print("is banana in tuple:", b_tuple)

is banana in tuple: True

In [146]:
#16. . Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [158]:
#17.  Write a code to add the element 6 to the set {1, 2, 3, 4}

my_set = {1,2,3,4}
my_set.add(6) 
print(my_set)

{1, 2, 3, 4, 6}

In [160]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it

my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

In [162]:
#19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [164]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

numbers = (1, 2, 3, 2, 4, 2)
count_of_twos = numbers.count(2)
print("The number 2 appears:", count_of_twos)

The number 2 appears: 3

In [166]:
#21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat') 
print(index_of_cat)

1

In [170]:
#22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

my_tuple = ('apple', 'orange', 'banana')
b_tuple = 'banana' in my_tuple
print("is banana in tuple:", b_tuple)

is banana in tuple: True

In [172]:
#23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [174]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}

my_set = {1,2,3,4}
my_set.add(6) 
print(my_set)

{1, 2, 3, 4, 6}